
<h1>
	Sprint Name Generator
</h1>

<div class="parts">
	<div class="part">

		<ul
			class="items"
			[style.transform]="( 'translateY( -' + ( partOneIndex * 85 ) + 'px )' )">
			<li
				*ngFor="let value of partOneItems ; let i = index ;"
				class="item"
				[class.selected]="( i === partOneIndex )">
				{{ value }}
			</li>
		</ul>

	</div>
	<div class="part">

		<ul
			class="items"
			[style.transform]="( 'translateY( -' + ( partTwoIndex * 85 ) + 'px )' )">
			<li
				*ngFor="let value of partTwoItems ; let i = index ;"
				class="item"
				[class.selected]="( i === partTwoIndex )">
				{{ value }}
			</li>
		</ul>

	</div>
</div>


<!-- Only show this for english. -->
<div class="what-is-this" [hidden]="selectedLanguage != 'English'">
	<a (click)="getDetails()" [hidden]="adjectiveDefinition.length > 0">
		What is this?
	</a>

	<div class="adjective-definition" [hidden]="adjectiveDefinition.length == 0 || thingDefinition.length == 0">
		<div class="word">
			{{partOneItems[partOneIndex]}}
			<span>&lt;adjective&gt;</span>
		</div>
		<div class="definition first">
			{{adjectiveDefinition}}
		</div>
		<div class="word">
			{{partTwoItems[partTwoIndex]}}
			<span>&lt;noun&gt;</span>
		</div>
		<div class="definition">
			{{thingDefinition}} <br/>
			<a href="https://en.wikipedia.org/wiki/{{partTwoItems[partTwoIndex]}}" target="_blank">View on Wikipedia</a>
		</div>
	</div>
</div>

<div class="length">
	Sprint name is {{ sprintName.length }} characters
</div>

<div class="actions">
	<button (click)="generateName()" autofocus class="action">
		Generate Sprint Name
	</button>
</div>

<div class="languages">
	<div class="languages__label">
		Language:
	</div>

	<ul class="languages__options">
		<li class="languages__option">
			<a href="/?lang=en" class="languages__link">En</a>
		</li>
		<li class="languages__option">
			<a href="/?lang=es" class="languages__link">Es</a>
		</li>
	</ul>
</div>
